<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/mainstyles.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="header">
            <img src="../Media/og-default-image.jpeg" alt="" width="200px" height="200px">
            <nav>
                <ul>
                    <li>About me</li>
                    <li>studies</li>
                    <li>experience</li>
                    <li>contact</li>
                    <li></li>
                </ul>
            </nav>
        </div>
        <div class="main-container">
            Animalito y carrusel de información
        </div>
        <div class="footer">
            Es el footer
        </div>
    </main>
</body>
</html>